extends:
  - eslint:recommended
  - idiomatic
env:
  node: true
  es6: true
  amd: true
rules:
  no-multi-spaces: 0
  space-in-parens: 0
  array-bracket-spacing: 0
  computed-property-spacing: 0
  key-spacing: 0
  no-var: 2
  indent:
    - 2
    - 2
    -
      VariableDeclarator:
        var: 2
        let: 2
        const: 3
  brace-style:
    - 2
    - 'stroustrup'
    -
      allowSingleLine: false
