extends:
  - eslint:recommended
  - idiomatic
parserOptions:
  ecmaVersion: 2017
  sourceType: module
env:
  node: true
  es6: true
rules:
  no-multi-spaces: 0
  space-in-parens: 0
  array-bracket-spacing: 0
  computed-property-spacing: 0
  key-spacing: 0
  no-var: 2
  indent:
    - 2
    - 2
    -
      SwitchCase: 1
      VariableDeclarator:
        var: 2
        let: 2
        const: 3
  brace-style:
    - 2
    - 'stroustrup'
    -
      allowSingleLine: false
  one-var:
    - 2
    - never
  semi:
    - 2
    - never
