{
  "id": "demon-tweeks",
  "viewports": [
    {
      "name": "mobile",
      "width": 350,
      "height": 480
    },
    {
      "name": "desktop",
      "width": 1300,
      "height": 850
    }
  ],
  "scenarios": [
    {
      "label": "styleguide",
      "url": "http://demon-tweeks.dev/styleguide/#group-branding-component-logo",
      "hideSelectors": [],
      "removeSelectors": [],
      "selectorExpansion": true,
      "selectors": [
        ".ndpl-component__colors",
        ".ndpl-component__sample"
      ],
      "readyEvent": null,
      "delay": 5000,
      "misMatchThreshold" : 0.1,
      "onBeforeScript": "onBefore.js",
      "onReadyScript": "onReady.js"
    }
  ],
  "paths": {
    "bitmaps_reference": "dev/tests/backstop_data/bitmaps_reference",
    "bitmaps_test": "dev/tests/backstop_data/bitmaps_test",
    "casper_scripts": "dev/tests/backstop_data/casper_scripts",
    "html_report": "dev/tests/backstop_data/html_report",
    "ci_report": "dev/tests/backstop_data/ci_report"
  },
  "casperFlags": [],
  "engine": "phantomjs",
  "report": ["browser"],
  "debug": false
}
