{
  "server": {
    "baseDir": "../../../"
  },
  "files": [
    "../../../app/design/frontend/**/email/**/*.html",
    "../../../pub/static/frontend/**/email.css"
  ],
  "open": false,
  "startPath": "app/design/frontend/"
}
