{
    "base": {
        "src"      : "vendor/ampersand/magento2-base-theme",
        "dest"     : "pub/static/frontend/Ampersand/base",
        "locale"   : ["en_GB"],
        "stylesDir": "web/css"
    },
    "example": {
        "src"      : "app/design/frontend/MiniSpares/default",
        "dest"     : "pub/static/frontend/MiniSpares/default",
        "parent"   : "base",
        "locale"   : ["en_GB"],
        "lang"     : "scss",
        "postcss"  : ["plugins.autoprefixer()"],
        "stylesDir": "web/css"
    },
    "all-possible-options": {
        "src": "vendor/snowdog/theme-all-possible-options",
        "dest": "pub/static/frontend/Snowdog/all-possible-options",
        "locale": ["en_US", "pl_PL"],
        "localeOverwrites": true,
        "parent": "blank",
        "stylesDir": "web/css",
        "postcss": ["plugins.autoprefixer()"]
    }
}
